<div id="component">
  <div id="info">
    <div id="title">
      <h1>HappyChat</h1>
    </div>
    <div title="Logout" id="userinfo" (click)="backToLogin()">
      <h2>{{username}}</h2><h3>Chat: {{chat}}</h3>
    </div>
  </div>
  <div class="clear"></div>
  <div id="messageContainer">
      <ul id="msg">
       <li *ngFor="let msg of messages">
          <span id="timestamp">{{msg.timestamp}}</span> <span id="user">{{msg.user}}</span> {{msg.msg}}
        </li>
      </ul>
  </div>
  <div id="userInputContainer">
    <form (ngSubmit)="onSubmit()" id="form">
      <input required [(ngModel)]="input" name="name" class="form-control" id="input" autocomplete="off" placeholder="Enter Message" >
      <button class="btn btn-primary" type="submit">Send</button>
      
      <input type="file" accept="media_type" name="file" id="file" (change)="onChange($event)"/>
      <label for="file" id="fileButton"><input id="fileImage" type="image" src="/assets/image/dataicon.png"></label>
      <h6>{{filename}}</h6>
   </form>
  </div>
  <app-chat-form></app-chat-form>
</div>
